        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
        @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
        body {
            background-color: white;
            font-family: "Open Sans", sans-serif;
            padding: 5px 25px;
            font-size: 18px;
            align-content: center;
            align-items: center;
            color: #444;
            text-align: center;
            justify-content: center;
            max-width: 800px;
            min-width: 464px;
        }
        
        .initialData {
            display: grid;
            grid-template-columns: 160px 1fr;
            align-items: center;
            justify-content: center;
        }
        
        h1 {
            font-family: "Merriweather", serif;
            font-size: 30px;
            word-spacing: 10px;
            padding-left: 150px;
            text-align: center;
            justify-content: center;
            text-shadow: 0.2em 0.2em 0.3em black;
        }
        
        h2 {
            font-family: "Merriweather", serif;
            font-size: 24px;
            word-spacing: 10px;
            margin-top: 30px;
            text-shadow: 0.2em 0.2em 0.3em black;
            align-items: center;
            text-align: center;
        }
        
        img {
            border-radius: 25px;
            box-shadow: 5px 5px 10px black;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            align-items: center;
            justify-content: center;
        }
        
        main {
            text-align: left;
            justify-content: center;
        }
        
        footer {
            word-spacing: 10px;
            background-color: rgb(87, 64, 64);
            margin-top: 20px;
            border-radius: 25px;
            border-style: solid;
            align-items: center;
            justify-items: center;
            color: white;
            box-shadow: 10px 10px 10px 10px black;
        }
        
        a:link {
            color: blue
        }
        
        header {
            background-color: rgb(87, 64, 64);
            margin-top: 20px;
            border-radius: 25px;
            border-style: solid;
            color: white;
            box-shadow: 10px 10px 10px 10px black;
            align-items: center;
        }
        
        hr.rounded {
            border-bottom: 3px solid black;
            border-radius: 5px;
        }