                    body {
                        background-color: rgb(146, 186, 187);
                        padding: 5px 25px;
                        font-size: 18px;
                        color: #444;
                        text-align: center;
                        justify-content: center;
                        max-width: 1000px;
                        font-family: 'Merriweather Sans', sans-serif;
                        font-family: 'Open Sans', sans-serif;
                    }
                    
                    header {
                        background-color: rgb(87, 64, 64);
                        margin-top: 20px;
                        border-radius: 25px;
                        border-style: solid;
                        color: white;
                        box-shadow: 10px 10px 10px 10px black;
                        align-items: center;
                    }
                    
                    hr.rounded {
                        border-bottom: 3px solid black;
                        border-radius: 5px;
                    }
                    
                    h1 {
                        font-size: 30px;
                        word-spacing: 10px;
                        text-align: center;
                        justify-content: center;
                        text-shadow: 0.2em 0.2em 0.3em black;
                    }
                    
                    h2 {
                        font-size: 24px;
                        word-spacing: 10px;
                        align-items: center;
                        text-align: center;
                        background-color: rgb(145, 221, 223);
                    }
                    
                    h3 {
                        font-size: 16px;
                        word-spacing: 10px;
                        align-items: center;
                        text-align: center;
                    }
                    
                    img {
                        max-width: 250px;
                        /*border-radius: 25px;
                        /*margin-top: 10px;
                    margin-bottom: 10px;*/
                        align-items: center;
                        justify-content: center;
                    }
                    
                    main {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding: 1rem;
                    }
                    
                    section {
                        border: solid;
                        margin: 1rem;
                        padding: 1rem;
                        border-radius: 25px;
                        background-color: white;
                        text-align: left;
                    }
                    
                    footer {
                        word-spacing: 10px;
                        background-color: rgb(87, 64, 64);
                        margin-top: 20px;
                        border-radius: 25px;
                        border-style: solid;
                        align-items: center;
                        justify-items: center;
                        color: white;
                        box-shadow: 10px 10px 10px 10px black;
                    }
                    
                    a:link {
                        color: blue
                    }