body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(80, 185, 179);
    margin: 0 auto;
    font-family: "Merriweather Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: white;
  }
  
h1 {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}

footer {
  margin: 0 auto
  font-size: 0.8rem;
  }