body {
  background-color: #e8dbc9;
  font-size: 18px;
  color: #444;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  min-width: 400px;
  margin: 0 auto;
}
.top_header {
  display: grid;
  grid-template-columns: 130px 1fr;
}

.logo {
  padding: 10px;
  margin: 5px;
  width: 120px;
  height: auto;
}

header {
  display: block;
  background-color: #0d1b1e;
  margin: 0 auto;
  border-style: solid;
  color: #ffffff;
  justify-content: space-between;
  min-width: 400px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: 0.5rem;
  justify-content: space-between;
}

hr.rounded {
  border-bottom: 3px solid black;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  word-spacing: 10px;
  text-align: center;
  justify-content: center;
  text-shadow: 0.2em 0.2em 0.3em black;
  padding: 10px;
}

h2 {
  font-size: 24px;
  word-spacing: 10px;
}

h3 {
  font-size: 20px;
  word-spacing: 10px;
}

p {
  font-size: 18px;
  padding: 10px;
}

main {
  display: block;
  border: solid;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(87, 227, 220);
  min-width: 400px;
}

nav {
  line-height: 1rem;
  font-size: 1rem;
  background-color: #7798ab;
  margin: 0 auto;
  padding: 10px;
  margin: 10px;
  color: #ffffff;
}

nav ul {
  display: block;
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color: #eee;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.central {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #c3cbc5;
  color: #000000;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 360px;
}

.hero {
  margin: 5px;
  width: 100%;
}

img {
  width: 98%;
}
.event {
  margin: 5px;
  border: solid;
  background-color: rgb(87, 227, 220);
}
.events {
  max-width: 120px;
  margin: 1rem;
}

.weather {
  margin: 5px;
  border: solid;
  background-color: rgb(87, 227, 220);
}
#weather_icon {
  max-width: 120px;
  margin: 0 auto;
}

.join {
  display: none;
}

.news {
  margin: 5px;
  border: solid;
  background-color: rgb(87, 227, 220);
}

.spotlight1 {
  margin: 5px;
  border: solid;
  background-color: rgb(87, 227, 220);
}
.oportunities {
  max-width: 128px;
}

.spotlight2 {
  margin: 5px;
  border: solid;
  background-color: rgb(87, 227, 220);
}
.parks {
  max-width: 128px;
}

.spotlight3 {
  display: none;
}

.today {
  padding: 1px;
  margin: 5px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(87, 227, 220);
  color: rgba(0, 0, 0, 0.5);
}

.logo {
  border-radius: 25px;
  width: 120px;
}

footer {
  display: grid;
  font-family: "Open Sans", sans-serif;
  background-color: #0d1b1e;
  border-style: solid;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer_data {
  font-size: 0.9rem;
  margin-top: -10px;
}
.footer_bottom {
  border-top: solid 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
  font-size: 0.8rem;
}

.chambermeeting {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  padding: 0%;
  border: 1px solid;
  border-radius: 25px;
  overflow: hidden;
}

.chambermeeting h2 {
  animation: none;
  text-align: center;
}

.action {
  opacity: 0.9;
  margin: 1em 2em;
  text-align: center;
  margin-top: -150px;
  margin-left: -200px;
  padding: 50px;
  position: relative;
}

.action button {
  line-height: 1em;
  width: 10em;
  font-size: 0.8em;
  opacity: 0.8;
}

.discover {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.discover div {
  border: 1px solid #32292f;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
  padding: 10px;
}

.discover-title {
  padding: 30px 30px 0px 30px;
  text-align: center;
}

.stats {
  padding: 10px;
}

.discover-title p {
  padding: 20px 20px 10px 20px;
}

.discover p {
  padding: 10px;
}

/***********************JOIN PAGE**********************/

form fieldset {
  margin: 10px;
  border: 1px solid #32292f;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #363636;
}

form legend {
  color: #32292f;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 22px;
  background-color: #faf2d6;
  border: 1px solid;
}

form label.top,
form div {
  display: block;
  color: #32292f;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: 1px solid #32292f;
  border-radius: 4px;
  padding: 10px;
  color: black;
  width: 80%;
  max-width: 40rem;
  background-color: #f2f2f2;
}

form label.sbs {
  display: block;
  padding: 10px;
  color: #32292f;
  font-size: 20px;
}

form button.send,
.sndc {
  border: 1px solid #32292f;
  background-color: #355f5f;
  color: #ffffff;
  border-radius: 1rem;
  padding: 10px;
  margin: 1.5rem 0 2rem 0%;
  width: 100%;
  max-width: 45rem;
  font-size: 100%;
  box-shadow: 3px 3px 10px rgb(1, 1, 1);
  cursor: pointer;
}

form label.top input:required {
  border-left: rgb(0, 0, 0) solid 6px;
}

form label.top input:required:valid {
  border-left: rgb(82, 157, 82) solid 6px;
}

form section {
  padding: 10px;
}

form textarea {
  width: 100%;
  max-width: 45rem;
  height: 10rem;
  max-width: 45rem;
  background-color: #f2f2f2;
  border: 1px solid #32292f;
}

#jointitle {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#memberlevels {
  display: grid;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #32292f;
  box-shadow: 3px 3px 10px #363636;
}

.memberinfo {
  border: 1px solid #32292f;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
}
.memberinfo h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
}

.memberinfo li {
  padding: 10px;
}

.infobox {
  padding: 10px 10px 10px 25px;
  border: 1px solid #32292f;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.infobox h3 {
  padding: 0px 0px 10px 0px;
  font-size: 16px;
  color: #32292f;
}

#leveltitle h2 {
  text-align: center;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  background-color: #355f5f90;
}

.discover1 h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
}

.discover2 h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
  border: transparent;
}

.discover3 h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
  border: transparent;
}

.discover4 h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
  border: transparent;
}

.discover5 h2 {
  padding: 10px;
  margin: 10px;
  background-color: #355f5f90;
  border: transparent;
}

.discover7 h2 {
  padding: 10px;
  background-color: #355f5f90;
  border: transparent;
}

.discover7 .border {
  margin-bottom: 10px;
}

.discover7 .bottom {
  margin: 0px;
}
.discover7 img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.pics {
  border: 1px solid black;
  transition: filter 0.5s;
}

.discover7 p {
  padding: 10px;
}

img[data-src] {
  filter: blur(0.4em);
}

.discover7 .photo-gal {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  text-align: center;
}

/********DIRECTORY PAGE******/

#directorytitle {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.gridListBtns {
  text-align: center;
}

#grid,
#list {
  padding: 15px 40px;
  margin: 10px;
  background: linear-gradient(
    0.25turn,
    #b1d3d3,
    #faf2d6,
    #ffffff,
    #faf2d6,
    #b1d3d3
  );
  border: 1px solid #32292f;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.groups div {
  background-color: #ffffff;
  border: 1px solid #32292f;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
  text-align: center;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  font-size: 16px;
}

.groups img {
  border: none;
  box-shadow: none;
  width: 100px;
}

.groups h2 {
  color: #000000;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
}

/********* List Styling************/
div.groups.list {
  display: grid;
  min-width: 592px;
}

.list div {
  padding: 15px;
  margin: 10px;
  min-width: 592px;
}

.list div img {
  display: none;
}
.list div p {
  font-size: 0.5rem;
}

/********* Grid Styling************/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid div {
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

/******************************************************/
/******************************************************/
/********************CONTACT PAGE**********************/

.contact {
  display: grid;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 800px;
  line-height: normal;
}

.mem-info {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.contact-grid {
  display: grid;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #32292f;
  box-shadow: 3px 3px 10px #363636;
  line-height: normal;
}

.contact-grid h2 {
  padding: 10px;
  background-color: #355f5f90;
}

.contact-img {
  max-width: 500px;
  margin: 0 auto;
}
